<style type="text/css">
    body {
        padding-left: 10px;
    }

    tr td {
        cursor: pointer;
    }
</style>
<h1>Поиск по фразам</h1>
<div class="container-fluid">
    <div ng-show="env.edit_id==null">
        <h4>Добавить</h4>

        <div class="row">
            <form name="dictionary_form" novalidate>
                <div class="col-md-3">
                    <textarea class="form-control" placeholder="EN" required ng-model="model.en"></textarea>
                </div>
                <div class="col-md-3">
                    <textarea class="form-control" placeholder="RU" required ng-model="model.ru"></textarea>
                </div>
                <div class="col-md-2">
                    <select class="form-control" ng-model="model.type">
                    <option value="question">Вопрос</option>
                    <option value="approval">Утверждение</option>
                    <option value="negation">Отрицание</option>
                    <option value="time">Времена</option>
                </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control" ng-model="model.tense">
                        <option value="present">Настроящее</option>
                        <option value="future">Будущее</option>
                        <option value="past">Прошлое</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" type="button" ng-click="actions.saveForm(null)"
                            ng-disabled="dictionary_form.$invalid">Добавить
                    </button>
                </div>
            </form>

        </div>
    </div>


    <div ng-show="env.edit_id!=null">
        <h4>Изменить</h4>

        <div class="row">
            <form name="dictionary_form" novalidate>
                <div class="col-md-3">
                    <textarea class="form-control" placeholder="EN" required ng-model="model.en"></textarea>
                </div>
                <div class="col-md-3">
                    <textarea class="form-control" placeholder="RU" required ng-model="model.ru"></textarea>
                </div>


                <div class="col-md-2">

                    <select class="form-control" ng-model="model.type">
                    <option value="question">Вопрос</option>
                    <option value="approval">Утверждение</option>
                    <option value="negation">Отрицание</option>
                </select>
                    <br/>
                    <select class="form-control" ng-model="model.tense">
                        <option value="present">Настроящее</option>
                        <option value="future">Будущее</option>
                        <option value="past">Прошлое</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-default" type="button" ng-click="actions.saveForm(model.id)"
                                ng-disabled="dictionary_form.$invalid">Сохранить
                        </button>
                        <button class="btn btn-primary" type="button" ng-click="actions.under()">Отменить</button>
                        <button class="btn btn-danger" type="button" ng-click="actions.delete(model.id)">Удалить
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <h4>Фильтровать</h4>

    <div class="row">
        <div class="col-md-4"><input type="text" class="form-control" placeholder="Search" ng-model="env.search"/></div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>
            Английский
        </th>
        <th>Русский</th>
        <th colspan="2">Actions</th>
    </tr>

    </thead>

    <tbody>
    <tr ng-show="env.dictionary!=undefined" ng-repeat="row in env.dictionary">
        <td>{{row.id}}</td>
        <td>{{row.en}}</td>
        <td>{{row.ru}}</td>
        <td>
            <button type="button" class="btn btn-default" ng-click="actions.editForm(row.id)">
                <span class="glyphicon glyphicon-pencil"> </span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="actions.plus(row.id)">
                <span class="glyphicon glyphicon-heart"> </span>
            </button>
        </td>
    </tr>
    </tbody>
</table>