/**
left menu fix
**/
li.fixed div{
    padding-left:12px;font-size: 13px;line-height: 36px;color:rgba(255, 255, 255, 0.6);text-overflow: ellipsis;white-space: nowrap;overflow: hidden;position: relative;box-sizing: border-box;
}
li.fixed span{
    color:white;
}
li.fixed ul{
    height: auto!important;display: block!important;
}

body:not([class$="side_fixed_open"]) li.fixed ul{
   display: none!important;
}

/** password strength **/

input.ng-pristine + ul#strength {
    display:none;
}
ul#strength {
    display:inline;
    list-style:none;
    margin:0;

    padding:0;
    vertical-align:2px;
}
.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:66px;
}

table.table a,table.table button,  button.add_category,  button.delete,  button.save,button.create{
    cursor:pointer;
}


a.live_edit{
    cursor:text!important;
}

table.table-hover td:hover{
    cursor: pointer;
}

span.plus{
    color:green;
}
span.minus{
    color:red;
}

table td:first-child{
    font-weight: normal;
}